@colors-main: #df5147;

@colors-fontMain: #fff;
@colors-fontAdv: #000;
@colors-fontHighlight: #bd1e23;
@colors-fontAnno: #b1b2b4;

@colors-companyName: #e83f1a;
@colors-companyType: #e10b6b;
@colors-companyBalans: #e97309;
@colors-companyChangeBid: #566a75;

@font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster/eot.eot');
  src: url('../fonts/Lobster/eot.eot?#iefix') format('embedded-opentype'), url('../fonts/Lobster/woff.woff') format('woff'), url('../fonts/Lobster/ttf.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'ifa';
  src: url('../fonts/FontAwesome/eot.eot');
  src: url('../fonts/FontAwesome/eot.eot?#iefix') format('embedded-opentype'), url('../fonts/FontAwesome/woff.woff') format('woff'), url('../fonts/FontAwesome/ttf.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@keyframes loader_rotate {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@import 'ifa.less';

main,
header,
footer,
nav,
section,
article,
aside,
div,
iframe {
  margin: 0;
  padding: 0;
  vertical-align: top;
  display: block;
}
a,
span,
label,
small,
u,
b,
i,
s,
sub,
sup,
address {
  margin: 0;
  padding: 0;
  vertical-align: top;
  display: inline;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  color: @colors-fontAdv;
  font: normal normal normal 14px/1.25 Arial, Verdana, sans-serif;
}
.h(@fs) {
  margin: 0;
  padding: 10px 0;
  font-family: Arial, Verdana, sans-serif;
  font-size: @fs;
}
h1 {
  .h(3.2em);
}
h2 {
  .h(2.8em);
}
h3 {
  .h(2.4em);
}
h4 {
  .h(2em);
}
h5 {
  .h(1.6em);
}
h6 {
  .h(1.2em);
}
.by-hdr {
  font-family: 'Lobster', serif;
}
img {
  border: 0 transparent solid;
  cursor: default;
}

a, a:visited {
  font-family: inherit;
  font-size: 1em;
  color: @colors-companyName;
  text-decoration: underline;
}
a:hover {
  color: @colors-companyType;
  text-decoration: none;
  cursor: pointer;
}
p {
  padding: .9em;
  font-family: Gerogia, sans-serif;
}
button, .by-btn {
  min-width: 120px;
  width: auto;
  padding: .5em 1em;
  background: @colors-main;
  color: @colors-fontMain;
  font-family: Arial, Verdana, sans-serif;
  font-size: 1.1em;
  text-align: center;
  border: 1px fade(@colors-companyChangeBid, 20%) solid;
  -webkit-border-radius: 3.2em;
  -moz-border-radius: 3.2em;
  border-radius: 3.2em;
  line-height: 1.25;
  display: inline-block;
  outline: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  .by-btn {
    font-family: 'Lobster', serif;
  }
  button:hover {
    cursor: pointer;
  }
  button:active {
    border-color: fade(@colors-companyChangeBid, 30%);
    -webkit-box-shadow: inset 0 0 40px fade(@colors-companyChangeBid, 10%);
    -moz-box-shadow: inset 0 0 40px fade(@colors-companyChangeBid, 10%);
    box-shadow: inset 0 0 40px fade(@colors-companyChangeBid, 10%);
    cursor: pointer;
  }
input, textarea {
  width: 300px;
  padding: .5em;
  background: @colors-fontMain;
  font-family: 'Lobster', serif;
  font-size: 1.1em;
  font-style: normal;
  border: 1px fade(@colors-companyChangeBid, 50%) solid;
  -webkit-border-radius: 3.2em;
  -moz-border-radius: 3.2em;
  border-radius: 3.2em;
  color: @colors-companyChangeBid;
  line-height: 1.25;
  display: inline-block;
  outline: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  input:hover, textarea:hover {
    border-color: fade(@colors-companyChangeBid, 75%);
    color: fade(@colors-fontAdv, 75%);
    cursor: text;
  }
  input:focus, textarea:focus
  {
    border-color: @colors-companyChangeBid;
    color: @colors-fontAdv;
    outline: none !important;
  }

.by-hdr.c_cm {
  color: @colors-main;
}
.by-hdr.c_cn {
  color: @colors-companyName;
}
.by-hdr.c_ct {
  color: @colors-companyType;
}
.by-hdr.c_cb {
  color: @colors-companyChangeBid;
}

.by-btn.c_cm {
  background: @colors-main;
}
.by-btn.c_cn {
  background: @colors-companyName;
}
.by-btn.c_ct {
  background: @colors-companyType;
}
.by-btn.c_cb {
  background: @colors-companyChangeBid;
}

.by-group > {
  button,
  div,
  input,
  span{
    margin: 0 !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: inline-block !important;
  }
}
.by-group > {
  button:first-child,
  div:first-child,
  input:first-child,
  span:first-child {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
  }
}
.by-group > {
  button:last-child,
  div:last-child,
  input:last-child,
  span:last-child {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
  }
}
.by-content-b(@width) {
  width: @width;
  display: inline-block;
}

.by-content-nb {
  .by-content-b(auto);
}
.by-content-2b {
  .by-content-b(50%);
}
.by-content-3b {
  .by-content-b(33.333%);
}
.by-content-4b {
  .by-content-b(25%);
}

.resh {
  min-height: 0 !important;
}
.resw {
  min-width: 0 !important;
}

#by-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: @colors-main;
  color: @colors-fontMain;
  line-height: 50px;
  z-index: 10;
}
  #by-header > .by-content-nb {
    line-height: inherit !important;
  }
  #by-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 240px;
    margin: 0;
    padding: 0;
    background: @colors-fontMain;
    font-family: 'Lobster', serif;
    font-size: 1.6em;
    color: @colors-companyName;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
  }
    #by-logo > span {
      color: @colors-companyType;
    }
  #by-admin {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    text-align: right;
  }


#by-main {
  position: relative;
  min-height: 100%;
  height: auto;
  display: block;
}
  #by-navigation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 240px;
    background: fade(@colors-fontAdv, 10%);
    color: @colors-companyChangeBid;
    z-index: 4;
    display: inline-block;
  }
  #by-menu {
    position: relative;
    padding: 50px 0 0;
  }
    #by-menu-list {
      padding: 1em;
      font-size: 1.1em;
      cursor: default;
    }
      #by-menu-list > li {
        padding: .4em 0;
        cursor: pointer;
      }
        #by-menu-list > li:hover {
          background: fade(@colors-fontMain, 30%);
        }
        #by-menu-list > li > i {
          width: 1em;
          margin-right: .5em;
          text-align: center;
        }
        #by-menu-list > li > a {
          font-size: inherit;
          color: inherit;
          text-decoration: none;
        }
  #by-main-section {
    position: relative;
    padding: 50px 0 0 240px;
    z-index: 3;
  }
  #by-section-content {
    padding: 20px;
  }
    #by-section-title {
      margin: 0;
      font-family: 'Lobster', serif;
      font-size: 1.7em;
      font-weight: normal;
      color: @colors-fontMain;
      padding: 0 20px;
    }

#by-tab {
  position: relative;
  height: auto;
  width: auto;
  display: block;
}
  .by-tab-page {
    position: relative;
    display: none;
  }
    .by-tab-page.active {
      display: block;
    }

.by-list {
  width: auto;
  display: block;
}
  .by-list-option {
    height: 2.5em;
    width: auto;
    margin: .3em 0;
    padding: .2em 0;
    line-height: 2.9em;
    display: block;
  }
    .by-list-option.e-add {
      margin: 1em 0;
    }
    .by-list-option-enum {
      height: 1.5em;
      min-width: 0;
      width: 1.5em;
      margin: 0 1em 0 0;
      padding: 0;
      background: fade(@colors-companyName, 70%);
      font-style: normal;
      text-align: center;
      color: @colors-fontMain !important;
      border: 0 transparent solid;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      line-height: 1.5em;
      vertical-align: middle;
      display: inline-block;
    }
      button.by-list-option-enum {
        background: @colors-companyType;
        font-weight: bold;
      }
    .by-list-option-label {
      min-width: 240px;
      width: 25%;
      padding: .2em .5em;
      font-family: 'Lobster', serif;
      font-size: 1.3em;
      color: fade(@colors-fontAdv, 80%);
      line-height: 1.25;
      vertical-align: middle;
      display: inline-block;
    }
      .by-list-option > .ifa {
        height: 1.5em;
        width: 1.5em;
        padding: 0;
        font-size: 1.2em;
        color: fade(@colors-companyChangeBid, 60%);
        text-align: center;
        line-height: 1.5em;
        vertical-align: middle;
      }
        .by-list-option > .ifa:hover {
          color: @colors-companyChangeBid;
          cursor: pointer;
        }

#by-overlay-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: fade(@colors-fontAdv, 40%);
  text-align: center;
  display: block;
  z-index: 11;
}
  #by-overlay-screen.loader {
    background: fade(@colors-fontMain, 40%);
  }
    #by-overlay-screen.loader > img {
      position: relative;
      height: auto;
      width: 32px;
      display: inline-block;
      animation-name: loader_rotate;
      animation-iteration-count: infinite;
      animation-duration: .5s;
    }
  #by-overlay-frame {
    position: relative;
    padding: 2em;
    background: @colors-fontMain;
    border: 1px fade(@colors-fontAdv, 30%) solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
    display: inline-block;
  }
    #by-overlay-content {
      font-family: Arial, Verdana, sans-serif;
      color: @colors-fontAdv;
      text-align: left;
      line-height: 1.25;
      display: block;
    }

.by-form {
  position: relative;
  min-width: 320px;
  max-width: 480px;
  width: 50%;
  margin: 5% auto 0;
  padding: 1em;
  border: 1px fade(@colors-fontAdv, 30%) solid;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  text-align: center;
  display: block;
}
  .by-form > input, .by-form > button {
    margin: 1em auto;
    display: block;
  }

#login, #signup {
  display: none;
}
#login.active, #signup.active {
  display: block;
}