.ifa {
  font: normal normal normal 14px/1 'ifa';
  color: inherit;
  text-rendering: auto;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  .ifa.w {
    color: #fff;
  }
    .ifa.fs-xs {
      font-size: .8em;
    }
    .ifa.fs-s {
      font-size: .9em;
    }
    .ifa.fs-m {
      font-size: 1.2em;
    }
    .ifa.fs-l {
      font-size: 1.6em;
    }
    .ifa.fs-xl {
      font-size: 3em;
    }
    .ifa.fs-xxl {
      font-size: 4em;
    }
    .ifa.fs-xxxl {
      font-size: 5em;
    }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.ifa-glass:before {
  content: '\f000';
}
.ifa-music:before {
  content: '\f001';
}
.ifa-search:before {
  content: '\f002';
}
.ifa-envelope-o:before {
  content: '\f003';
}
.ifa-heart:before {
  content: '\f004';
}
.ifa-star:before {
  content: '\f005';
}
.ifa-star-o:before {
  content: '\f006';
}
.ifa-user:before {
  content: '\f007';
}
.ifa-film:before {
  content: '\f008';
}
.ifa-th-large:before {
  content: '\f009';
}
.ifa-th:before {
  content: '\f00a';
}
.ifa-th-list:before {
  content: '\f00b';
}
.ifa-check:before {
  content: '\f00c';
}
.ifa-remove:before,
.ifa-close:before,
.ifa-times:before {
  content: '\f00d';
}
.ifa-search-plus:before {
  content: '\f00e';
}
.ifa-search-minus:before {
  content: '\f010';
}
.ifa-power-off:before {
  content: '\f011';
}
.ifa-signal:before {
  content: '\f012';
}
.ifa-gear:before,
.ifa-cog:before {
  content: '\f013';
}
.ifa-trash-o:before {
  content: '\f014';
}
.ifa-home:before {
  content: '\f015';
}
.ifa-file-o:before {
  content: '\f016';
}
.ifa-clock-o:before {
  content: '\f017';
}
.ifa-road:before {
  content: '\f018';
}
.ifa-download:before {
  content: '\f019';
}
.ifa-arrow-circle-o-down:before {
  content: '\f01a';
}
.ifa-arrow-circle-o-up:before {
  content: '\f01b';
}
.ifa-inbox:before {
  content: '\f01c';
}
.ifa-play-circle-o:before {
  content: '\f01d';
}
.ifa-rotate-right:before,
.ifa-repeat:before {
  content: '\f01e';
}
.ifa-refresh:before {
  content: '\f021';
}
.ifa-list-alt:before {
  content: '\f022';
}
.ifa-lock:before {
  content: '\f023';
}
.ifa-flag:before {
  content: '\f024';
}
.ifa-headphones:before {
  content: '\f025';
}
.ifa-volume-off:before {
  content: '\f026';
}
.ifa-volume-down:before {
  content: '\f027';
}
.ifa-volume-up:before {
  content: '\f028';
}
.ifa-qrcode:before {
  content: '\f029';
}
.ifa-barcode:before {
  content: '\f02a';
}
.ifa-tag:before {
  content: '\f02b';
}
.ifa-tags:before {
  content: '\f02c';
}
.ifa-book:before {
  content: '\f02d';
}
.ifa-bookmark:before {
  content: '\f02e';
}
.ifa-print:before {
  content: '\f02f';
}
.ifa-camera:before {
  content: '\f030';
}
.ifa-font:before {
  content: '\f031';
}
.ifa-bold:before {
  content: '\f032';
}
.ifa-italic:before {
  content: '\f033';
}
.ifa-text-height:before {
  content: '\f034';
}
.ifa-text-width:before {
  content: '\f035';
}
.ifa-align-left:before {
  content: '\f036';
}
.ifa-align-center:before {
  content: '\f037';
}
.ifa-align-right:before {
  content: '\f038';
}
.ifa-align-justify:before {
  content: '\f039';
}
.ifa-list:before {
  content: '\f03a';
}
.ifa-dedent:before,
.ifa-outdent:before {
  content: '\f03b';
}
.ifa-indent:before {
  content: '\f03c';
}
.ifa-video-camera:before {
  content: '\f03d';
}
.ifa-photo:before,
.ifa-image:before,
.ifa-picture-o:before {
  content: '\f03e';
}
.ifa-pencil:before {
  content: '\f040';
}
.ifa-map-marker:before {
  content: '\f041';
}
.ifa-adjust:before {
  content: '\f042';
}
.ifa-tint:before {
  content: '\f043';
}
.ifa-edit:before,
.ifa-pencil-square-o:before {
  content: '\f044';
}
.ifa-share-square-o:before {
  content: '\f045';
}
.ifa-check-square-o:before {
  content: '\f046';
}
.ifa-arrows:before {
  content: '\f047';
}
.ifa-step-backward:before {
  content: '\f048';
}
.ifa-fast-backward:before {
  content: '\f049';
}
.ifa-backward:before {
  content: '\f04a';
}
.ifa-play:before {
  content: '\f04b';
}
.ifa-pause:before {
  content: '\f04c';
}
.ifa-stop:before {
  content: '\f04d';
}
.ifa-forward:before {
  content: '\f04e';
}
.ifa-fast-forward:before {
  content: '\f050';
}
.ifa-step-forward:before {
  content: '\f051';
}
.ifa-eject:before {
  content: '\f052';
}
.ifa-chevron-left:before {
  content: '\f053';
}
.ifa-chevron-right:before {
  content: '\f054';
}
.ifa-plus-circle:before {
  content: '\f055';
}
.ifa-minus-circle:before {
  content: '\f056';
}
.ifa-times-circle:before {
  content: '\f057';
}
.ifa-check-circle:before {
  content: '\f058';
}
.ifa-question-circle:before {
  content: '\f059';
}
.ifa-info-circle:before {
  content: '\f05a';
}
.ifa-crosshairs:before {
  content: '\f05b';
}
.ifa-times-circle-o:before {
  content: '\f05c';
}
.ifa-check-circle-o:before {
  content: '\f05d';
}
.ifa-ban:before {
  content: '\f05e';
}
.ifa-arrow-left:before {
  content: '\f060';
}
.ifa-arrow-right:before {
  content: '\f061';
}
.ifa-arrow-up:before {
  content: '\f062';
}
.ifa-arrow-down:before {
  content: '\f063';
}
.ifa-mail-forward:before,
.ifa-share:before {
  content: '\f064';
}
.ifa-expand:before {
  content: '\f065';
}
.ifa-compress:before {
  content: '\f066';
}
.ifa-plus:before {
  content: '\f067';
}
.ifa-minus:before {
  content: '\f068';
}
.ifa-asterisk:before {
  content: '\f069';
}
.ifa-exclamation-circle:before {
  content: '\f06a';
}
.ifa-gift:before {
  content: '\f06b';
}
.ifa-leaf:before {
  content: '\f06c';
}
.ifa-fire:before {
  content: '\f06d';
}
.ifa-eye:before {
  content: '\f06e';
}
.ifa-eye-slash:before {
  content: '\f070';
}
.ifa-warning:before,
.ifa-exclamation-triangle:before {
  content: '\f071';
}
.ifa-plane:before {
  content: '\f072';
}
.ifa-calendar:before {
  content: '\f073';
}
.ifa-random:before {
  content: '\f074';
}
.ifa-comment:before {
  content: '\f075';
}
.ifa-magnet:before {
  content: '\f076';
}
.ifa-chevron-up:before {
  content: '\f077';
}
.ifa-chevron-down:before {
  content: '\f078';
}
.ifa-retweet:before {
  content: '\f079';
}
.ifa-shopping-cart:before {
  content: '\f07a';
}
.ifa-folder:before {
  content: '\f07b';
}
.ifa-folder-open:before {
  content: '\f07c';
}
.ifa-arrows-v:before {
  content: '\f07d';
}
.ifa-arrows-h:before {
  content: '\f07e';
}
.ifa-bar-chart-o:before,
.ifa-bar-chart:before {
  content: '\f080';
}
.ifa-twitter-square:before {
  content: '\f081';
}
.ifa-facebook-square:before {
  content: '\f082';
}
.ifa-camera-retro:before {
  content: '\f083';
}
.ifa-key:before {
  content: '\f084';
}
.ifa-gears:before,
.ifa-cogs:before {
  content: '\f085';
}
.ifa-comments:before {
  content: '\f086';
}
.ifa-thumbs-o-up:before {
  content: '\f087';
}
.ifa-thumbs-o-down:before {
  content: '\f088';
}
.ifa-star-half:before {
  content: '\f089';
}
.ifa-heart-o:before {
  content: '\f08a';
}
.ifa-sign-out:before {
  content: '\f08b';
}
.ifa-linkedin-square:before {
  content: '\f08c';
}
.ifa-thumb-tack:before {
  content: '\f08d';
}
.ifa-external-link:before {
  content: '\f08e';
}
.ifa-sign-in:before {
  content: '\f090';
}
.ifa-trophy:before {
  content: '\f091';
}
.ifa-github-square:before {
  content: '\f092';
}
.ifa-upload:before {
  content: '\f093';
}
.ifa-lemon-o:before {
  content: '\f094';
}
.ifa-phone:before {
  content: '\f095';
}
.ifa-square-o:before {
  content: '\f096';
}
.ifa-bookmark-o:before {
  content: '\f097';
}
.ifa-phone-square:before {
  content: '\f098';
}
.ifa-twitter:before {
  content: '\f099';
}
.ifa-facebook-f:before,
.ifa-facebook:before {
  content: '\f09a';
}
.ifa-github:before {
  content: '\f09b';
}
.ifa-unlock:before {
  content: '\f09c';
}
.ifa-credit-card:before {
  content: '\f09d';
}
.ifa-feed:before,
.ifa-rss:before {
  content: '\f09e';
}
.ifa-hdd-o:before {
  content: '\f0a0';
}
.ifa-bullhorn:before {
  content: '\f0a1';
}
.ifa-bell:before {
  content: '\f0f3';
}
.ifa-certificate:before {
  content: '\f0a3';
}
.ifa-hand-o-right:before {
  content: '\f0a4';
}
.ifa-hand-o-left:before {
  content: '\f0a5';
}
.ifa-hand-o-up:before {
  content: '\f0a6';
}
.ifa-hand-o-down:before {
  content: '\f0a7';
}
.ifa-arrow-circle-left:before {
  content: '\f0a8';
}
.ifa-arrow-circle-right:before {
  content: '\f0a9';
}
.ifa-arrow-circle-up:before {
  content: '\f0aa';
}
.ifa-arrow-circle-down:before {
  content: '\f0ab';
}
.ifa-globe:before {
  content: '\f0ac';
}
.ifa-wrench:before {
  content: '\f0ad';
}
.ifa-tasks:before {
  content: '\f0ae';
}
.ifa-filter:before {
  content: '\f0b0';
}
.ifa-briefcase:before {
  content: '\f0b1';
}
.ifa-arrows-alt:before {
  content: '\f0b2';
}
.ifa-group:before,
.ifa-users:before {
  content: '\f0c0';
}
.ifa-chain:before,
.ifa-link:before {
  content: '\f0c1';
}
.ifa-cloud:before {
  content: '\f0c2';
}
.ifa-flask:before {
  content: '\f0c3';
}
.ifa-cut:before,
.ifa-scissors:before {
  content: '\f0c4';
}
.ifa-copy:before,
.ifa-files-o:before {
  content: '\f0c5';
}
.ifa-paperclip:before {
  content: '\f0c6';
}
.ifa-save:before,
.ifa-floppy-o:before {
  content: '\f0c7';
}
.ifa-square:before {
  content: '\f0c8';
}
.ifa-navicon:before,
.ifa-reorder:before,
.ifa-bars:before {
  content: '\f0c9';
}
.ifa-list-ul:before {
  content: '\f0ca';
}
.ifa-list-ol:before {
  content: '\f0cb';
}
.ifa-strikethrough:before {
  content: '\f0cc';
}
.ifa-underline:before {
  content: '\f0cd';
}
.ifa-table:before {
  content: '\f0ce';
}
.ifa-magic:before {
  content: '\f0d0';
}
.ifa-truck:before {
  content: '\f0d1';
}
.ifa-pinterest:before {
  content: '\f0d2';
}
.ifa-pinterest-square:before {
  content: '\f0d3';
}
.ifa-google-plus-square:before {
  content: '\f0d4';
}
.ifa-google-plus:before {
  content: '\f0d5';
}
.ifa-money:before {
  content: '\f0d6';
}
.ifa-caret-down:before {
  content: '\f0d7';
}
.ifa-caret-up:before {
  content: '\f0d8';
}
.ifa-caret-left:before {
  content: '\f0d9';
}
.ifa-caret-right:before {
  content: '\f0da';
}
.ifa-columns:before {
  content: '\f0db';
}
.ifa-unsorted:before,
.ifa-sort:before {
  content: '\f0dc';
}
.ifa-sort-down:before,
.ifa-sort-desc:before {
  content: '\f0dd';
}
.ifa-sort-up:before,
.ifa-sort-asc:before {
  content: '\f0de';
}
.ifa-envelope:before {
  content: '\f0e0';
}
.ifa-linkedin:before {
  content: '\f0e1';
}
.ifa-rotate-left:before,
.ifa-undo:before {
  content: '\f0e2';
}
.ifa-legal:before,
.ifa-gavel:before {
  content: '\f0e3';
}
.ifa-dashboard:before,
.ifa-tachometer:before {
  content: '\f0e4';
}
.ifa-comment-o:before {
  content: '\f0e5';
}
.ifa-comments-o:before {
  content: '\f0e6';
}
.ifa-flash:before,
.ifa-bolt:before {
  content: '\f0e7';
}
.ifa-sitemap:before {
  content: '\f0e8';
}
.ifa-umbrella:before {
  content: '\f0e9';
}
.ifa-paste:before,
.ifa-clipboard:before {
  content: '\f0ea';
}
.ifa-lightbulb-o:before {
  content: '\f0eb';
}
.ifa-exchange:before {
  content: '\f0ec';
}
.ifa-cloud-download:before {
  content: '\f0ed';
}
.ifa-cloud-upload:before {
  content: '\f0ee';
}
.ifa-user-md:before {
  content: '\f0f0';
}
.ifa-stethoscope:before {
  content: '\f0f1';
}
.ifa-suitcase:before {
  content: '\f0f2';
}
.ifa-bell-o:before {
  content: '\f0a2';
}
.ifa-coffee:before {
  content: '\f0f4';
}
.ifa-cutlery:before {
  content: '\f0f5';
}
.ifa-file-text-o:before {
  content: '\f0f6';
}
.ifa-building-o:before {
  content: '\f0f7';
}
.ifa-hospital-o:before {
  content: '\f0f8';
}
.ifa-ambulance:before {
  content: '\f0f9';
}
.ifa-medkit:before {
  content: '\f0fa';
}
.ifa-fighter-jet:before {
  content: '\f0fb';
}
.ifa-beer:before {
  content: '\f0fc';
}
.ifa-h-square:before {
  content: '\f0fd';
}
.ifa-plus-square:before {
  content: '\f0fe';
}
.ifa-angle-double-left:before {
  content: '\f100';
}
.ifa-angle-double-right:before {
  content: '\f101';
}
.ifa-angle-double-up:before {
  content: '\f102';
}
.ifa-angle-double-down:before {
  content: '\f103';
}
.ifa-angle-left:before {
  content: '\f104';
}
.ifa-angle-right:before {
  content: '\f105';
}
.ifa-angle-up:before {
  content: '\f106';
}
.ifa-angle-down:before {
  content: '\f107';
}
.ifa-desktop:before {
  content: '\f108';
}
.ifa-laptop:before {
  content: '\f109';
}
.ifa-tablet:before {
  content: '\f10a';
}
.ifa-mobile-phone:before,
.ifa-mobile:before {
  content: '\f10b';
}
.ifa-circle-o:before {
  content: '\f10c';
}
.ifa-quote-left:before {
  content: '\f10d';
}
.ifa-quote-right:before {
  content: '\f10e';
}
.ifa-spinner:before {
  content: '\f110';
}
.ifa-circle:before {
  content: '\f111';
}
.ifa-mail-reply:before,
.ifa-reply:before {
  content: '\f112';
}
.ifa-github-alt:before {
  content: '\f113';
}
.ifa-folder-o:before {
  content: '\f114';
}
.ifa-folder-open-o:before {
  content: '\f115';
}
.ifa-smile-o:before {
  content: '\f118';
}
.ifa-frown-o:before {
  content: '\f119';
}
.ifa-meh-o:before {
  content: '\f11a';
}
.ifa-gamepad:before {
  content: '\f11b';
}
.ifa-keyboard-o:before {
  content: '\f11c';
}
.ifa-flag-o:before {
  content: '\f11d';
}
.ifa-flag-checkered:before {
  content: '\f11e';
}
.ifa-terminal:before {
  content: '\f120';
}
.ifa-code:before {
  content: '\f121';
}
.ifa-mail-reply-all:before,
.ifa-reply-all:before {
  content: '\f122';
}
.ifa-star-half-empty:before,
.ifa-star-half-full:before,
.ifa-star-half-o:before {
  content: '\f123';
}
.ifa-location-arrow:before {
  content: '\f124';
}
.ifa-crop:before {
  content: '\f125';
}
.ifa-code-fork:before {
  content: '\f126';
}
.ifa-unlink:before,
.ifa-chain-broken:before {
  content: '\f127';
}
.ifa-question:before {
  content: '\f128';
}
.ifa-info:before {
  content: '\f129';
}
.ifa-exclamation:before {
  content: '\f12a';
}
.ifa-superscript:before {
  content: '\f12b';
}
.ifa-subscript:before {
  content: '\f12c';
}
.ifa-eraser:before {
  content: '\f12d';
}
.ifa-puzzle-piece:before {
  content: '\f12e';
}
.ifa-microphone:before {
  content: '\f130';
}
.ifa-microphone-slash:before {
  content: '\f131';
}
.ifa-shield:before {
  content: '\f132';
}
.ifa-calendar-o:before {
  content: '\f133';
}
.ifa-fire-extinguisher:before {
  content: '\f134';
}
.ifa-rocket:before {
  content: '\f135';
}
.ifa-maxcdn:before {
  content: '\f136';
}
.ifa-chevron-circle-left:before {
  content: '\f137';
}
.ifa-chevron-circle-right:before {
  content: '\f138';
}
.ifa-chevron-circle-up:before {
  content: '\f139';
}
.ifa-chevron-circle-down:before {
  content: '\f13a';
}
.ifa-html5:before {
  content: '\f13b';
}
.ifa-css3:before {
  content: '\f13c';
}
.ifa-anchor:before {
  content: '\f13d';
}
.ifa-unlock-alt:before {
  content: '\f13e';
}
.ifa-bullseye:before {
  content: '\f140';
}
.ifa-ellipsis-h:before {
  content: '\f141';
}
.ifa-ellipsis-v:before {
  content: '\f142';
}
.ifa-rss-square:before {
  content: '\f143';
}
.ifa-play-circle:before {
  content: '\f144';
}
.ifa-ticket:before {
  content: '\f145';
}
.ifa-minus-square:before {
  content: '\f146';
}
.ifa-minus-square-o:before {
  content: '\f147';
}
.ifa-level-up:before {
  content: '\f148';
}
.ifa-level-down:before {
  content: '\f149';
}
.ifa-check-square:before {
  content: '\f14a';
}
.ifa-pencil-square:before {
  content: '\f14b';
}
.ifa-external-link-square:before {
  content: '\f14c';
}
.ifa-share-square:before {
  content: '\f14d';
}
.ifa-compass:before {
  content: '\f14e';
}
.ifa-toggle-down:before,
.ifa-caret-square-o-down:before {
  content: '\f150';
}
.ifa-toggle-up:before,
.ifa-caret-square-o-up:before {
  content: '\f151';
}
.ifa-toggle-right:before,
.ifa-caret-square-o-right:before {
  content: '\f152';
}
.ifa-euro:before,
.ifa-eur:before {
  content: '\f153';
}
.ifa-gbp:before {
  content: '\f154';
}
.ifa-dollar:before,
.ifa-usd:before {
  content: '\f155';
}
.ifa-rupee:before,
.ifa-inr:before {
  content: '\f156';
}
.ifa-cny:before,
.ifa-rmb:before,
.ifa-yen:before,
.ifa-jpy:before {
  content: '\f157';
}
.ifa-ruble:before,
.ifa-rouble:before,
.ifa-rub:before {
  content: '\f158';
}
.ifa-won:before,
.ifa-krw:before {
  content: '\f159';
}
.ifa-bitcoin:before,
.ifa-btc:before {
  content: '\f15a';
}
.ifa-file:before {
  content: '\f15b';
}
.ifa-file-text:before {
  content: '\f15c';
}
.ifa-sort-alpha-asc:before {
  content: '\f15d';
}
.ifa-sort-alpha-desc:before {
  content: '\f15e';
}
.ifa-sort-amount-asc:before {
  content: '\f160';
}
.ifa-sort-amount-desc:before {
  content: '\f161';
}
.ifa-sort-numeric-asc:before {
  content: '\f162';
}
.ifa-sort-numeric-desc:before {
  content: '\f163';
}
.ifa-thumbs-up:before {
  content: '\f164';
}
.ifa-thumbs-down:before {
  content: '\f165';
}
.ifa-youtube-square:before {
  content: '\f166';
}
.ifa-youtube:before {
  content: '\f167';
}
.ifa-xing:before {
  content: '\f168';
}
.ifa-xing-square:before {
  content: '\f169';
}
.ifa-youtube-play:before {
  content: '\f16a';
}
.ifa-dropbox:before {
  content: '\f16b';
}
.ifa-stack-overflow:before {
  content: '\f16c';
}
.ifa-instagram:before {
  content: '\f16d';
}
.ifa-flickr:before {
  content: '\f16e';
}
.ifa-adn:before {
  content: '\f170';
}
.ifa-bitbucket:before {
  content: '\f171';
}
.ifa-bitbucket-square:before {
  content: '\f172';
}
.ifa-tumblr:before {
  content: '\f173';
}
.ifa-tumblr-square:before {
  content: '\f174';
}
.ifa-long-arrow-down:before {
  content: '\f175';
}
.ifa-long-arrow-up:before {
  content: '\f176';
}
.ifa-long-arrow-left:before {
  content: '\f177';
}
.ifa-long-arrow-right:before {
  content: '\f178';
}
.ifa-apple:before {
  content: '\f179';
}
.ifa-windows:before {
  content: '\f17a';
}
.ifa-android:before {
  content: '\f17b';
}
.ifa-linux:before {
  content: '\f17c';
}
.ifa-dribbble:before {
  content: '\f17d';
}
.ifa-skype:before {
  content: '\f17e';
}
.ifa-foursquare:before {
  content: '\f180';
}
.ifa-trello:before {
  content: '\f181';
}
.ifa-female:before {
  content: '\f182';
}
.ifa-male:before {
  content: '\f183';
}
.ifa-gittip:before,
.ifa-gratipay:before {
  content: '\f184';
}
.ifa-sun-o:before {
  content: '\f185';
}
.ifa-moon-o:before {
  content: '\f186';
}
.ifa-archive:before {
  content: '\f187';
}
.ifa-bug:before {
  content: '\f188';
}
.ifa-vk:before {
  content: '\f189';
}
.ifa-weibo:before {
  content: '\f18a';
}
.ifa-renren:before {
  content: '\f18b';
}
.ifa-pagelines:before {
  content: '\f18c';
}
.ifa-stack-exchange:before {
  content: '\f18d';
}
.ifa-arrow-circle-o-right:before {
  content: '\f18e';
}
.ifa-arrow-circle-o-left:before {
  content: '\f190';
}
.ifa-toggle-left:before,
.ifa-caret-square-o-left:before {
  content: '\f191';
}
.ifa-dot-circle-o:before {
  content: '\f192';
}
.ifa-wheelchair:before {
  content: '\f193';
}
.ifa-vimeo-square:before {
  content: '\f194';
}
.ifa-turkish-lira:before,
.ifa-try:before {
  content: '\f195';
}
.ifa-plus-square-o:before {
  content: '\f196';
}
.ifa-space-shuttle:before {
  content: '\f197';
}
.ifa-slack:before {
  content: '\f198';
}
.ifa-envelope-square:before {
  content: '\f199';
}
.ifa-wordpress:before {
  content: '\f19a';
}
.ifa-openid:before {
  content: '\f19b';
}
.ifa-institution:before,
.ifa-bank:before,
.ifa-university:before {
  content: '\f19c';
}
.ifa-mortar-board:before,
.ifa-graduation-cap:before {
  content: '\f19d';
}
.ifa-yahoo:before {
  content: '\f19e';
}
.ifa-google:before {
  content: '\f1a0';
}
.ifa-reddit:before {
  content: '\f1a1';
}
.ifa-reddit-square:before {
  content: '\f1a2';
}
.ifa-stumbleupon-circle:before {
  content: '\f1a3';
}
.ifa-stumbleupon:before {
  content: '\f1a4';
}
.ifa-delicious:before {
  content: '\f1a5';
}
.ifa-digg:before {
  content: '\f1a6';
}
.ifa-pied-piper:before {
  content: '\f1a7';
}
.ifa-pied-piper-alt:before {
  content: '\f1a8';
}
.ifa-drupal:before {
  content: '\f1a9';
}
.ifa-joomla:before {
  content: '\f1aa';
}
.ifa-language:before {
  content: '\f1ab';
}
.ifa-fax:before {
  content: '\f1ac';
}
.ifa-building:before {
  content: '\f1ad';
}
.ifa-child:before {
  content: '\f1ae';
}
.ifa-paw:before {
  content: '\f1b0';
}
.ifa-spoon:before {
  content: '\f1b1';
}
.ifa-cube:before {
  content: '\f1b2';
}
.ifa-cubes:before {
  content: '\f1b3';
}
.ifa-behance:before {
  content: '\f1b4';
}
.ifa-behance-square:before {
  content: '\f1b5';
}
.ifa-steam:before {
  content: '\f1b6';
}
.ifa-steam-square:before {
  content: '\f1b7';
}
.ifa-recycle:before {
  content: '\f1b8';
}
.ifa-automobile:before,
.ifa-car:before {
  content: '\f1b9';
}
.ifa-cab:before,
.ifa-taxi:before {
  content: '\f1ba';
}
.ifa-tree:before {
  content: '\f1bb';
}
.ifa-spotify:before {
  content: '\f1bc';
}
.ifa-deviantart:before {
  content: '\f1bd';
}
.ifa-soundcloud:before {
  content: '\f1be';
}
.ifa-database:before {
  content: '\f1c0';
}
.ifa-file-pdf-o:before {
  content: '\f1c1';
}
.ifa-file-word-o:before {
  content: '\f1c2';
}
.ifa-file-excel-o:before {
  content: '\f1c3';
}
.ifa-file-powerpoint-o:before {
  content: '\f1c4';
}
.ifa-file-photo-o:before,
.ifa-file-picture-o:before,
.ifa-file-image-o:before {
  content: '\f1c5';
}
.ifa-file-zip-o:before,
.ifa-file-archive-o:before {
  content: '\f1c6';
}
.ifa-file-sound-o:before,
.ifa-file-audio-o:before {
  content: '\f1c7';
}
.ifa-file-movie-o:before,
.ifa-file-video-o:before {
  content: '\f1c8';
}
.ifa-file-code-o:before {
  content: '\f1c9';
}
.ifa-vine:before {
  content: '\f1ca';
}
.ifa-codepen:before {
  content: '\f1cb';
}
.ifa-jsfiddle:before {
  content: '\f1cc';
}
.ifa-life-bouy:before,
.ifa-life-buoy:before,
.ifa-life-saver:before,
.ifa-support:before,
.ifa-life-ring:before {
  content: '\f1cd';
}
.ifa-circle-o-notch:before {
  content: '\f1ce';
}
.ifa-ra:before,
.ifa-rebel:before {
  content: '\f1d0';
}
.ifa-ge:before,
.ifa-empire:before {
  content: '\f1d1';
}
.ifa-git-square:before {
  content: '\f1d2';
}
.ifa-git:before {
  content: '\f1d3';
}
.ifa-y-combinator-square:before,
.ifa-yc-square:before,
.ifa-hacker-news:before {
  content: '\f1d4';
}
.ifa-tencent-weibo:before {
  content: '\f1d5';
}
.ifa-qq:before {
  content: '\f1d6';
}
.ifa-wechat:before,
.ifa-weixin:before {
  content: '\f1d7';
}
.ifa-send:before,
.ifa-paper-plane:before {
  content: '\f1d8';
}
.ifa-send-o:before,
.ifa-paper-plane-o:before {
  content: '\f1d9';
}
.ifa-history:before {
  content: '\f1da';
}
.ifa-circle-thin:before {
  content: '\f1db';
}
.ifa-header:before {
  content: '\f1dc';
}
.ifa-paragraph:before {
  content: '\f1dd';
}
.ifa-sliders:before {
  content: '\f1de';
}
.ifa-share-alt:before {
  content: '\f1e0';
}
.ifa-share-alt-square:before {
  content: '\f1e1';
}
.ifa-bomb:before {
  content: '\f1e2';
}
.ifa-soccer-ball-o:before,
.ifa-futbol-o:before {
  content: '\f1e3';
}
.ifa-tty:before {
  content: '\f1e4';
}
.ifa-binoculars:before {
  content: '\f1e5';
}
.ifa-plug:before {
  content: '\f1e6';
}
.ifa-slideshare:before {
  content: '\f1e7';
}
.ifa-twitch:before {
  content: '\f1e8';
}
.ifa-yelp:before {
  content: '\f1e9';
}
.ifa-newspaper-o:before {
  content: '\f1ea';
}
.ifa-wifi:before {
  content: '\f1eb';
}
.ifa-calculator:before {
  content: '\f1ec';
}
.ifa-paypal:before {
  content: '\f1ed';
}
.ifa-google-wallet:before {
  content: '\f1ee';
}
.ifa-cc-visa:before {
  content: '\f1f0';
}
.ifa-cc-mastercard:before {
  content: '\f1f1';
}
.ifa-cc-discover:before {
  content: '\f1f2';
}
.ifa-cc-amex:before {
  content: '\f1f3';
}
.ifa-cc-paypal:before {
  content: '\f1f4';
}
.ifa-cc-stripe:before {
  content: '\f1f5';
}
.ifa-bell-slash:before {
  content: '\f1f6';
}
.ifa-bell-slash-o:before {
  content: '\f1f7';
}
.ifa-trash:before {
  content: '\f1f8';
}
.ifa-copyright:before {
  content: '\f1f9';
}
.ifa-at:before {
  content: '\f1fa';
}
.ifa-eyedropper:before {
  content: '\f1fb';
}
.ifa-paint-brush:before {
  content: '\f1fc';
}
.ifa-birthday-cake:before {
  content: '\f1fd';
}
.ifa-area-chart:before {
  content: '\f1fe';
}
.ifa-pie-chart:before {
  content: '\f200';
}
.ifa-line-chart:before {
  content: '\f201';
}
.ifa-lastfm:before {
  content: '\f202';
}
.ifa-lastfm-square:before {
  content: '\f203';
}
.ifa-toggle-off:before {
  content: '\f204';
}
.ifa-toggle-on:before {
  content: '\f205';
}
.ifa-bicycle:before {
  content: '\f206';
}
.ifa-bus:before {
  content: '\f207';
}
.ifa-ioxhost:before {
  content: '\f208';
}
.ifa-angellist:before {
  content: '\f209';
}
.ifa-cc:before {
  content: '\f20a';
}
.ifa-shekel:before,
.ifa-sheqel:before,
.ifa-ils:before {
  content: '\f20b';
}
.ifa-meanpath:before {
  content: '\f20c';
}
.ifa-buysellads:before {
  content: '\f20d';
}
.ifa-connectdevelop:before {
  content: '\f20e';
}
.ifa-dashcube:before {
  content: '\f210';
}
.ifa-forumbee:before {
  content: '\f211';
}
.ifa-leanpub:before {
  content: '\f212';
}
.ifa-sellsy:before {
  content: '\f213';
}
.ifa-shirtsinbulk:before {
  content: '\f214';
}
.ifa-simplybuilt:before {
  content: '\f215';
}
.ifa-skyatlas:before {
  content: '\f216';
}
.ifa-cart-plus:before {
  content: '\f217';
}
.ifa-cart-arrow-down:before {
  content: '\f218';
}
.ifa-diamond:before {
  content: '\f219';
}
.ifa-ship:before {
  content: '\f21a';
}
.ifa-user-secret:before {
  content: '\f21b';
}
.ifa-motorcycle:before {
  content: '\f21c';
}
.ifa-street-view:before {
  content: '\f21d';
}
.ifa-heartbeat:before {
  content: '\f21e';
}
.ifa-venus:before {
  content: '\f221';
}
.ifa-mars:before {
  content: '\f222';
}
.ifa-mercury:before {
  content: '\f223';
}
.ifa-intersex:before,
.ifa-transgender:before {
  content: '\f224';
}
.ifa-transgender-alt:before {
  content: '\f225';
}
.ifa-venus-double:before {
  content: '\f226';
}
.ifa-mars-double:before {
  content: '\f227';
}
.ifa-venus-mars:before {
  content: '\f228';
}
.ifa-mars-stroke:before {
  content: '\f229';
}
.ifa-mars-stroke-v:before {
  content: '\f22a';
}
.ifa-mars-stroke-h:before {
  content: '\f22b';
}
.ifa-neuter:before {
  content: '\f22c';
}
.ifa-genderless:before {
  content: '\f22d';
}
.ifa-facebook-official:before {
  content: '\f230';
}
.ifa-pinterest-p:before {
  content: '\f231';
}
.ifa-whatsapp:before {
  content: '\f232';
}
.ifa-server:before {
  content: '\f233';
}
.ifa-user-plus:before {
  content: '\f234';
}
.ifa-user-times:before {
  content: '\f235';
}
.ifa-hotel:before,
.ifa-bed:before {
  content: '\f236';
}
.ifa-viacoin:before {
  content: '\f237';
}
.ifa-train:before {
  content: '\f238';
}
.ifa-subway:before {
  content: '\f239';
}
.ifa-medium:before {
  content: '\f23a';
}
.ifa-yc:before,
.ifa-y-combinator:before {
  content: '\f23b';
}
.ifa-optin-monster:before {
  content: '\f23c';
}
.ifa-opencart:before {
  content: '\f23d';
}
.ifa-expeditedssl:before {
  content: '\f23e';
}
.ifa-battery-4:before,
.ifa-battery-full:before {
  content: '\f240';
}
.ifa-battery-3:before,
.ifa-battery-three-quarters:before {
  content: '\f241';
}
.ifa-battery-2:before,
.ifa-battery-half:before {
  content: '\f242';
}
.ifa-battery-1:before,
.ifa-battery-quarter:before {
  content: '\f243';
}
.ifa-battery-0:before,
.ifa-battery-empty:before {
  content: '\f244';
}
.ifa-mouse-pointer:before {
  content: '\f245';
}
.ifa-i-cursor:before {
  content: '\f246';
}
.ifa-object-group:before {
  content: '\f247';
}
.ifa-object-ungroup:before {
  content: '\f248';
}
.ifa-sticky-note:before {
  content: '\f249';
}
.ifa-sticky-note-o:before {
  content: '\f24a';
}
.ifa-cc-jcb:before {
  content: '\f24b';
}
.ifa-cc-diners-club:before {
  content: '\f24c';
}
.ifa-clone:before {
  content: '\f24d';
}
.ifa-balance-scale:before {
  content: '\f24e';
}
.ifa-hourglass-o:before {
  content: '\f250';
}
.ifa-hourglass-1:before,
.ifa-hourglass-start:before {
  content: '\f251';
}
.ifa-hourglass-2:before,
.ifa-hourglass-half:before {
  content: '\f252';
}
.ifa-hourglass-3:before,
.ifa-hourglass-end:before {
  content: '\f253';
}
.ifa-hourglass:before {
  content: '\f254';
}
.ifa-hand-grab-o:before,
.ifa-hand-rock-o:before {
  content: '\f255';
}
.ifa-hand-stop-o:before,
.ifa-hand-paper-o:before {
  content: '\f256';
}
.ifa-hand-scissors-o:before {
  content: '\f257';
}
.ifa-hand-lizard-o:before {
  content: '\f258';
}
.ifa-hand-spock-o:before {
  content: '\f259';
}
.ifa-hand-pointer-o:before {
  content: '\f25a';
}
.ifa-hand-peace-o:before {
  content: '\f25b';
}
.ifa-trademark:before {
  content: '\f25c';
}
.ifa-registered:before {
  content: '\f25d';
}
.ifa-creative-commons:before {
  content: '\f25e';
}
.ifa-gg:before {
  content: '\f260';
}
.ifa-gg-circle:before {
  content: '\f261';
}
.ifa-tripadvisor:before {
  content: '\f262';
}
.ifa-odnoklassniki:before {
  content: '\f263';
}
.ifa-odnoklassniki-square:before {
  content: '\f264';
}
.ifa-get-pocket:before {
  content: '\f265';
}
.ifa-wikipedia-w:before {
  content: '\f266';
}
.ifa-safari:before {
  content: '\f267';
}
.ifa-chrome:before {
  content: '\f268';
}
.ifa-firefox:before {
  content: '\f269';
}
.ifa-opera:before {
  content: '\f26a';
}
.ifa-internet-explorer:before {
  content: '\f26b';
}
.ifa-tv:before,
.ifa-television:before {
  content: '\f26c';
}
.ifa-contao:before {
  content: '\f26d';
}
.ifa-500px:before {
  content: '\f26e';
}
.ifa-amazon:before {
  content: '\f270';
}
.ifa-calendar-plus-o:before {
  content: '\f271';
}
.ifa-calendar-minus-o:before {
  content: '\f272';
}
.ifa-calendar-times-o:before {
  content: '\f273';
}
.ifa-calendar-check-o:before {
  content: '\f274';
}
.ifa-industry:before {
  content: '\f275';
}
.ifa-map-pin:before {
  content: '\f276';
}
.ifa-map-signs:before {
  content: '\f277';
}
.ifa-map-o:before {
  content: '\f278';
}
.ifa-map:before {
  content: '\f279';
}
.ifa-commenting:before {
  content: '\f27a';
}
.ifa-commenting-o:before {
  content: '\f27b';
}
.ifa-houzz:before {
  content: '\f27c';
}
.ifa-vimeo:before {
  content: '\f27d';
}
.ifa-black-tie:before {
  content: '\f27e';
}
.ifa-fonticons:before {
  content: '\f280';
}